<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#">SiteTemplate</a>
    <div class="container nav-collapse">
      <div id="main_navigation"> 

      </div>

      <div class="pull-right" id="i18n_navigation"> 

      </div> 
    </div><!--/.nav-collapse -->
  </div>
</div>
