<h1>Picture helper demo</h1>

<h2>With existing picture</h2>

<p class="well">This is an example with an existing picture:</p>

<%= render_picture @picture_name %>


<h2>With missing picture</h2>

<p class="well">This is an example with a missing picture:</p>

<%= render_picture 'missing' %>

