ul.thumbnails > li {
  margin-left: 0 !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.picture_gallery-preview {
  margin-right: 15px;  
  margin-bottom: 15px;
  margin-left: 0 !important;
  padding: 0;
}

.picture_gallery-preview h3 {
  margin-top: 0;
}

.picture_gallery-preview > .caption > .picture-count {
  font-size: 90%;
  color: gray;
  line-height: 32px;
  vertical-align: middle;
  display: inline-block;
}

.picture_gallery-preview .picture-image {
  margin-top: 4px;
  min-height: 180px;
  text-align: center;
}

.picture_gallery-preview .description {
  min-height: 70px;
}
