<li class="span4 picture" id="picture-<%= picture.to_param %>">
  <% if picture.picture_gallery.link_images %>
    <%= link_to("#{picture.image.url}#{File.extname(picture.image_file_name)}", :class => 'thumbnail') do %>
      <%= image_tag(picture.image.url(:default_thumb)) %>
    <% end %>
  <% else %>
    <%= image_tag(picture.image.url(:default_thumb), :class => 'thumbnail') %>
  <% end %>
</li>
