<h1><%= Ecm::Pictures::Picture.model_name.human(:count => :other) %></h1>

<div class="pictures row-fluid" data-target="#modal-gallery" data-toggle="modal-gallery">
  <ul class="thumbnails">
    <% @pictures.each do |picture| %>
      <%= render picture %>
    <% end %>
  </ul>
</div>